.flexbox {
    display: flex;
    border: 2px solid blue;
    padding: 10px;
}

.item {
    border: 2px solid red;
    padding: 5px;
    min-height: 20vh;
}

#box1 {
    justify-content: space-evenly;
    align-items: center;
    background: rgb(161, 54, 158);
}

#box2, #box3, #box4 {
    justify-content: center;
    align-items: center;
}

#box3 {
    background: rgb(227, 160, 225);
}

#innerbox4 {
    background: orchid;
}

* {
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
}

