.flexbox {
    display: flex;
    /* border: 2px solid blue; */
    padding: 10px;
}

.item {
    /* border: 2px solid red; */
    padding: 5px;
    min-height: 20vh;
}

#box1 {
    justify-content: space-evenly;
    align-items: center;
    background: rgb(161, 54, 158);
    color: lavender;
}

#box2, #box3, #box4 {
    justify-content: center;
    align-items: center;
}

#box3 {
    background: rgb(227, 160, 225);
}

#innerbox4 {
    background: orchid;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: lavender;
}

h1 {
    text-shadow: 2px 2px 0px rgb(64, 11, 64);
}

h2 {
    text-align: center;
    padding-top: 8px;
}

#box2 p {
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(161, 54, 158);
}

#box3, h2, h3 {
    color: rgb(64, 11, 64);
}

button {
    padding: 5px;
    background: linear-gradient(orchid, plum);
    border-radius: 5px;
    border: 2px solid rgb(64, 11, 64);
    color: rgb(64, 11, 64);
}

img {
    border-radius: 5px;
    border: 2px solid rgb(64, 11, 64);
}

h1, h2 {
    font-family: Impact;
}